html, body {
    height: 100%;
    margin: 0;
}    
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
}
main {
    padding: 2em;
    background-color: aquamarine;
    border: 2px solid black;
}
#response {
    font-style: italic;
}
h2 {
    font-size: 1.1em;
}